# mkdocs.yml

site_name: Strata Cloud Manager SDK Documentation
site_description: Python SDK for Palo Alto Networks Strata Cloud Manager.
site_url: https://cdot65.github.io/pan-scm-sdk/
repo_name: cdot65/pan-scm-sdk
repo_url: https://github.com/cdot65/pan-scm-sdk
theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.instant
plugins:
  - search
  - termynal
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_source: true
nav:
  - Home: index.md
  - About:
    - Introduction: about/introduction.md
    - Installation: about/installation.md
    - Getting Started: about/getting-started.md
    - Troubleshooting: about/troubleshooting.md
    - Contributing: about/contributing.md
    - Release Notes: about/release-notes.md
    - License: about/license.md
  - Developer Documentation:
      - Overview: sdk/index.md
      - Configuration:
        - Objects:
            - Overview: sdk/config/objects/index.md
            - Address: sdk/config/objects/address.md
            - Address Group: sdk/config/objects/address_group.md
            - Application: sdk/config/objects/application.md
            - Application Group: sdk/config/objects/application_group.md
            - Service: sdk/config/objects/service.md
        - Security Services:
            - Overview: sdk/config/security_services/index.md
            - Anti Spyware Security Profile: sdk/config/security_services/anti_spyware.md
            - Wildfire Anti Virus Security Profile: sdk/config/security_services/wildfire_antivirus.md
      - Data Models:
          - Objects:
            - Overview: sdk/models/objects/index.md
            - Address Models: sdk/models/objects/address_models.md
            - Address Group Models: sdk/models/objects/address_group_models.md
            - Application Models: sdk/models/objects/application_models.md
            - Application Group Models: sdk/models/objects/application_group_models.md
            - Service Models: sdk/models/objects/service_models.md
          - Security Services:
            - Overview: sdk/models/security_services/index.md
            - Anti Spyware Security Profile: sdk/models/security_services/anti_spyware_profile_models.md
            - Anti Spyware Security Profile: sdk/models/security_services/wildfire_antivirus_profile_models.md
      - Authentication Module: sdk/auth.md
      - SCM Client: sdk/client.md
extra_css:
  - css/termynal.css
  - css/custom.css
extra_javascript:
  - js/termynal.js
  - js/custom.js