# mkdocs.yml

site_name: Strata Cloud Manager SDK Documentation
site_description: Python SDK for Palo Alto Networks Strata Cloud Manager.
site_url: https://cdot65.github.io/pan-scm-sdk/
repo_name: cdot65/pan-scm-sdk
repo_url: https://github.com/cdot65/pan-scm-sdk
theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.instant
plugins:
  - search
  - termynal
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_source: true
nav:
  - Home: index.md
  - About:
      - Introduction: about/introduction.md
      - Installation: about/installation.md
      - Getting Started: about/getting-started.md
      - Troubleshooting: about/troubleshooting.md
      - Contributing: about/contributing.md
      - Release Notes: about/release-notes.md
      - License: about/license.md
  - Developer Documentation:
      - Overview: sdk/index.md
      - Auth: sdk/auth.md
      - Client: sdk/client.md
      - Configuration:
          - BaseObject: sdk/config/base_object.md
          - Deployment:
              - Overview: sdk/config/deployment/index.md
              - Remote Networks: sdk/config/deployment/remote_networks.md
          - Network:
              - Overview: sdk/config/network/index.md
              - NAT Rules: sdk/config/network/nat_rules.md
          - Objects:
              - Overview: sdk/config/objects/index.md
              - Address: sdk/config/objects/address.md
              - Address Group: sdk/config/objects/address_group.md
              - Application: sdk/config/objects/application.md
              - Application Filters: sdk/config/objects/application_filters.md
              - Application Group: sdk/config/objects/application_group.md
              - Dynamic User Group: sdk/config/objects/dynamic_user_group.md
              - External Dynamic Lists: sdk/config/objects/external_dynamic_lists.md
              - HIP Object: sdk/config/objects/hip_object.md
              - HIP Profile: sdk/config/objects/hip_profile.md
              - HTTP Server Profile: sdk/config/objects/http_server_profiles.md
              - Log Forwarding Profile: sdk/config/objects/log_forwarding_profile.md
              - Region: sdk/config/objects/region.md
              - Schedules: sdk/config/objects/schedules.md
              - Service: sdk/config/objects/service.md
              - Service Group: sdk/config/objects/service_group.md
              - Tag: sdk/config/objects/tag.md
          - Security Services:
              - Overview: sdk/config/security_services/index.md
              - Anti Spyware Security Profile: sdk/config/security_services/anti_spyware_profile.md
              - Decryption Profile: sdk/config/security_services/decryption_profile.md
              - DNS Security Profile: sdk/config/security_services/dns_security_profile.md
              - Security Rule: sdk/config/security_services/security_rule.md
              - URL Categories: sdk/config/security_services/url_categories.md
              - Vulnerability Protection Security Profile: sdk/config/security_services/vulnerability_protection_profile.md
              - Wildfire Anti Virus Security Profile: sdk/config/security_services/wildfire_antivirus.md
      - Data Models:
          - Deployment:
              - Overview: sdk/models/deployment/index.md
              - Remote Networks Models: sdk/models/deployment/remote_networks_models.md
          - Network:
              - Overview: sdk/models/network/index.md
              - NAT Rule Models: sdk/models/network/nat_rule_models.md
          - Objects:
              - Overview: sdk/models/objects/index.md
              - Address Models: sdk/models/objects/address_models.md
              - Address Group Models: sdk/models/objects/address_group_models.md
              - Application Models: sdk/models/objects/application_models.md
              - Application Filter Models: sdk/models/objects/application_filters_models.md
              - Application Group Models: sdk/models/objects/application_group_models.md
              - Dynamic User Group Models: sdk/models/objects/dynamic_user_group_models.md
              - External Dynamic Lists Models: sdk/models/objects/external_dynamic_lists_models.md
              - HIP Object Models: sdk/models/objects/hip_object_models.md
              - HIP Profile Models: sdk/models/objects/hip_profile_models.md
              - HTTP Server Profiles Models: sdk/models/objects/http_server_profiles_models.md
              - Log Forwarding Profile Models: sdk/models/objects/log_forwarding_profile_models.md
              - Region Models: sdk/models/objects/region_models.md
              - Schedules Models: sdk/models/objects/schedules_models.md
              - Service Models: sdk/models/objects/service_models.md
              - Service Group Models: sdk/models/objects/service_group_models.md
              - Tag Models: sdk/models/objects/tag_models.md
          - Operations:
              - Candidate Push (commit config): sdk/models/operations/candidate_push.md
              - Jobs: sdk/models/operations/jobs.md
          - Security Services:
              - Overview: sdk/models/security_services/index.md
              - Anti Spyware Security Profile Models: sdk/models/security_services/anti_spyware_profile_models.md
              - Decryption Profile Models: sdk/models/security_services/decryption_profile_models.md
              - DNS Security Profile Models: sdk/models/security_services/dns_security_profile_models.md
              - Security Rule Models: sdk/models/security_services/security_rule_models.md
              - URL Categories Models: sdk/models/security_services/url_categories_models.md
              - Vulnerability Protection Security Profile Models: sdk/config/security_services/vulnerability_protection_profile_models.md
              - Wildfire Anti Virus Security Profile Models: sdk/models/security_services/wildfire_antivirus_profile_models.md
      - Exceptions: sdk/exceptions.md
extra_css:
  - css/termynal.css
  - css/custom.css
extra_javascript:
  - js/termynal.js
  - js/custom.js