site_name: Palo Alto Networks Strata Cloud Manager SDK
site_description: Python SDK to manage Palo Alto Networks Strata Cloud Manager configurations
site_url: https://cdot65.github.io/pan-scm-sdk/
repo_url: https://github.com/cdot65/pan-scm-sdk
repo_name: cdot65/pan-scm-sdk
site_dir: site
copyright: Copyright &copy; 2023-2025 Calvin Remsburg

theme:
  name: material
  logo: images/logo.svg
  favicon: images/logo.svg
  features:
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
          selection:
            docstring_style: google

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables
  - footnotes

# Explicitly set the layout for home page with customizations
not_in_nav: |
  index.md
  STYLE_GUIDE.md
  guide/advanced-topics.md
  guide/configuration-objects.md
  guide/data-models.md
  guide/getting-started.md
  guide/operations.md

extra_css:
  - css/custom.css

extra_javascript:
  - js/custom.js

# Define the navigation menu
nav:
  - Home: index.md
  - About:
      - Introduction: about/introduction.md
      - Installation: about/installation.md
      - Getting Started: about/getting-started.md
      - Troubleshooting: about/troubleshooting.md
      - Contributing: about/contributing.md
      - Release Notes: about/release-notes.md
      - License: about/license.md
  - SDK Reference:
      - Overview: sdk/index.md
      - Auth: sdk/auth.md
      - Client: sdk/client.md
      - BaseObject: sdk/config/base_object.md
      - Deployment:
          - Overview: sdk/config/deployment/index.md
          - Bandwidth Allocations: sdk/config/deployment/bandwidth_allocations.md
          - BGP Routing: sdk/config/deployment/bgp_routing.md
          - Internal DNS Servers: sdk/config/deployment/internal_dns_servers.md
          - Network Locations: sdk/config/deployment/network_locations.md
          - Remote Networks: sdk/config/deployment/remote_networks.md
          - Service Connections: sdk/config/deployment/service_connections.md
      - Mobile Agent:
          - Overview: sdk/config/mobile_agent/index.md
          - Authentication Settings: sdk/config/mobile_agent/auth_settings.md
          - Agent Versions: sdk/config/mobile_agent/agent_versions.md
      - Network:
          - Overview: sdk/config/network/index.md
          - Aggregate Interfaces: sdk/config/network/aggregate_interface.md
          - DHCP Interface: sdk/config/network/dhcp_interface.md
          - Ethernet Interfaces: sdk/config/network/ethernet_interface.md
          - IKE Crypto Profiles: sdk/config/network/ike_crypto_profile.md
          - IKE Gateways: sdk/config/network/ike_gateway.md
          - Interface Management Profiles: sdk/config/network/interface_management_profile.md
          - IPsec Crypto Profiles: sdk/config/network/ipsec_crypto_profile.md
          - IPsec Tunnels: sdk/config/network/ipsec_tunnel.md
          - Layer2 Subinterfaces: sdk/config/network/layer2_subinterface.md
          - Layer3 Subinterfaces: sdk/config/network/layer3_subinterface.md
          - Logical Routers: sdk/config/network/logical_router.md
          - Loopback Interfaces: sdk/config/network/loopback_interface.md
          - NAT Rules: sdk/config/network/nat_rules.md
          - Security Zones: sdk/config/network/security_zone.md
          - Tunnel Interfaces: sdk/config/network/tunnel_interface.md
          - VLAN Interfaces: sdk/config/network/vlan_interface.md
          - Zone Protection Profiles: sdk/config/network/zone_protection_profile.md
      - Objects:
          - Overview: sdk/config/objects/index.md
          - Addresses: sdk/config/objects/address.md
          - Address Groups: sdk/config/objects/address_group.md
          - Applications: sdk/config/objects/application.md
          - Application Filters: sdk/config/objects/application_filters.md
          - Application Groups: sdk/config/objects/application_group.md
          - Auto Tag Actions: sdk/config/objects/auto_tag_actions.md
          - Dynamic User Groups: sdk/config/objects/dynamic_user_group.md
          - External Dynamic Lists: sdk/config/objects/external_dynamic_lists.md
          - HIP Objects: sdk/config/objects/hip_object.md
          - HIP Profiles: sdk/config/objects/hip_profile.md
          - HTTP Server Profiles: sdk/config/objects/http_server_profiles.md
          - Log Forwarding Profiles: sdk/config/objects/log_forwarding_profile.md
          - Quarantined Devices: sdk/config/objects/quarantined_devices.md
          - Regions: sdk/config/objects/region.md
          - Schedules: sdk/config/objects/schedules.md
          - Services: sdk/config/objects/service.md
          - Service Groups: sdk/config/objects/service_group.md
          - Syslog Server Profiles: sdk/config/objects/syslog_server_profiles.md
          - Tags: sdk/config/objects/tag.md
      - Security Services:
          - Overview: sdk/config/security_services/index.md
          - Anti-Spyware Profiles: sdk/config/security_services/anti_spyware_profile.md
          - Decryption Profiles: sdk/config/security_services/decryption_profile.md
          - DNS Security Profiles: sdk/config/security_services/dns_security_profile.md
          - Security Rules: sdk/config/security_services/security_rule.md
          - URL Categories: sdk/config/security_services/url_categories.md
          - WildFire Antivirus Profiles: sdk/config/security_services/wildfire_antivirus.md
          - Vulnerability Protection Profiles: sdk/config/security_services/vulnerability_protection_profile.md
      - Setup:
          - Overview: sdk/config/setup/index.md
          - Folders: sdk/config/setup/folder.md
          - Labels: sdk/config/setup/label.md
          - Snippets: sdk/config/setup/snippet.md
          - Devices: sdk/config/setup/device.md
          - Variables: sdk/config/setup/variable.md
      - Insights:
          - Overview: sdk/insights/index.md
          - Alerts: sdk/insights/alerts.md
      - Exceptions: sdk/exceptions.md
  - Data Models:
      - Overview: sdk/models/index.md
      - Deployment:
          - Overview: sdk/models/deployment/index.md
          - Bandwidth Allocations: sdk/models/deployment/bandwidth_allocation_models.md
          - BGP Routing: sdk/models/deployment/bgp_routing_models.md
          - Internal DNS Servers: sdk/models/deployment/internal_dns_servers_models.md
          - Network Locations: sdk/models/deployment/network_locations.md
          - Remote Networks: sdk/models/deployment/remote_networks_models.md
          - Service Connections: sdk/models/deployment/service_connections_models.md
      - Mobile Agent:
          - Overview: sdk/models/mobile_agent/index.md
          - Authentication Settings: sdk/models/mobile_agent/auth_settings_models.md
          - Agent Versions: sdk/models/mobile_agent/agent_versions_models.md
      - Network:
          - Overview: sdk/models/network/index.md
          - Aggregate Interfaces: sdk/models/network/aggregate_interface_models.md
          - DHCP Interface: sdk/models/network/dhcp_interface_models.md
          - Ethernet Interfaces: sdk/models/network/ethernet_interface_models.md
          - IKE Crypto Profiles: sdk/models/network/ike_crypto_profile_models.md
          - IKE Gateways: sdk/models/network/ike_gateway_models.md
          - Interface Management Profiles: sdk/models/network/interface_management_profile_models.md
          - IPsec Crypto Profiles: sdk/models/network/ipsec_crypto_profile_models.md
          - IPsec Tunnels: sdk/models/network/ipsec_tunnel_models.md
          - Layer2 Subinterfaces: sdk/models/network/layer2_subinterface_models.md
          - Layer3 Subinterfaces: sdk/models/network/layer3_subinterface_models.md
          - Logical Routers: sdk/models/network/logical_router_models.md
          - Loopback Interfaces: sdk/models/network/loopback_interface_models.md
          - NAT Rules: sdk/models/network/nat_rule_models.md
          - Security Zones: sdk/models/network/security_zone_models.md
          - Tunnel Interfaces: sdk/models/network/tunnel_interface_models.md
          - VLAN Interfaces: sdk/models/network/vlan_interface_models.md
          - Zone Protection Profiles: sdk/models/network/zone_protection_profile_models.md
      - Objects:
          - Overview: sdk/models/objects/index.md
          - Addresses: sdk/models/objects/address_models.md
          - Address Groups: sdk/models/objects/address_group_models.md
          - Applications: sdk/models/objects/application_models.md
          - Application Filters: sdk/models/objects/application_filters_models.md
          - Application Groups: sdk/models/objects/application_group_models.md
          - Auto Tag Actions: sdk/models/objects/auto_tag_actions_models.md
          - Dynamic User Groups: sdk/models/objects/dynamic_user_group_models.md
          - External Dynamic Lists: sdk/models/objects/external_dynamic_lists_models.md
          - HIP Objects: sdk/models/objects/hip_object_models.md
          - HIP Profiles: sdk/models/objects/hip_profile_models.md
          - HTTP Server Profiles: sdk/models/objects/http_server_profiles_models.md
          - Log Forwarding Profiles: sdk/models/objects/log_forwarding_profile_models.md
          - Quarantined Devices: sdk/models/objects/quarantined_devices_models.md
          - Regions: sdk/models/objects/region_models.md
          - Schedules: sdk/models/objects/schedules_models.md
          - Services: sdk/models/objects/service_models.md
          - Service Groups: sdk/models/objects/service_group_models.md
          - Syslog Server Profiles: sdk/models/objects/syslog_server_profiles_models.md
          - Tags: sdk/models/objects/tag_models.md
      - Operations:
          - Overview: sdk/models/operations/index.md
          - Candidate Push: sdk/models/operations/candidate_push.md
          - Jobs: sdk/models/operations/jobs.md
      - Security Services:
          - Overview: sdk/models/security_services/index.md
          - Anti-Spyware Profiles: sdk/models/security_services/anti_spyware_profile_models.md
          - Decryption Profiles: sdk/models/security_services/decryption_profile_models.md
          - DNS Security Profiles: sdk/models/security_services/dns_security_profile_models.md
          - Security Rules: sdk/models/security_services/security_rule_models.md
          - URL Categories: sdk/models/security_services/url_categories_models.md
          - WildFire Antivirus Profiles: sdk/models/security_services/wildfire_antivirus_profile_models.md
          - Vulnerability Protection Profiles: sdk/models/security_services/vulnerability_protection_profile_models.md
      - Setup:
          - Overview: sdk/models/setup/index.md
          - Folders: sdk/models/setup/folder_models.md
          - Labels: sdk/models/setup/label_models.md
          - Snippets: sdk/models/setup/snippet_models.md
          - Devices: sdk/models/setup/device_models.md
          - Variables: sdk/models/setup/variable_models.md
      - Insights:
          - Overview: sdk/models/insights/index.md
          - Alerts: sdk/models/insights/alerts_models.md
